* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px;
}
ul {
  display: flex;
  padding: 20px 25px;
  list-style: none;
}
li {
  color: aliceblue;
  padding: 25px 20px;
  margin-right: 24px;
  font-size: 20px;
  font-weight: 700;
}
